.race-card {
    border: solid 2px #15151e;
    width: 35%;
    /* height: 150px; */
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.race-card h2 {
    text-decoration: underline;
}

.next-races-list {
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.circuit-img {
    height: 170px;
}

.votes-button {
    background-color: #006341;
    color: #fff;
}

.votes-button:hover {
    background-color: #00724a;
    color: #fff;
}